.container{
    display: flex;
    flex-wrap: wrap;
}
.button{
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #202a5c;
    color: #fff;
}