.newsContainer {
    border: 1px solid red;
    width: 350px;
    
}
.newsContainer:hover{
    border: none;
   box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%)
}
.cardHeader {
    padding: 0 16px;
    border-bottom: 1px solid #f0f0f0;
}
.cardContent{
    padding:8px 16px;
    max-width: 350px;
    border-bottom: 1px solid #f0f0f0;
}
.p{
    max-width: 200px;
    font-family: Robato;
}
.cardFooter{
    font-size: 16px;
    padding:16px;
}